@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* css variables */
:root {
    --primary-color: #C154C1;
    --secondary-color: #7950cb;
    --primary-white: #fff;
    --secondary-white: #f8fafc;
    --text-color: #475569;
    --input-color: #64748b;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--secondary-white);
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
}

main {
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.box-decoration1 {
    width: 40%;
    height: 15em;
    background: var(--primary-color);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.box-decoration2 {
    width: 60%;
    height: 15em;
    background: var(--secondary-color);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.form-container {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
}

.form-elements {
    background: var(--primary-white);
    height: auto;
    width: 100%;
    padding: 20px;
    box-shadow: 9px 17px 47px -25px rgba(0, 0, 0, 0.62);
    -webkit-box-shadow: 9px 17px 47px -25px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 9px 17px 47px -25px rgba(0, 0, 0, 0.62);
}

.form-element1 {
    padding-block: 30px;
}
.form-element2{
    display: none;
}

.form-head h2 {
    border-bottom: var(--primary-color) 3px solid;
    display: inline;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.input-container input {
    border-radius: 30px;
    border: 2px solid var(--input-color);
    height: 35px;
    padding-inline: 10px;
}

.input-container input:focus {
    outline: 2px solid var(--primary-color);
    border: none;
}

.input-container label {
    font-weight: 400;
    text-transform: capitalize;
}

.inline-input {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}

.primary-btn {
    background-color: var(--primary-color);
    color: var(--primary-white);
    border-radius: 30px;
    width: 100%;
    border: none;
    padding-block: 10px;
    margin-top: 20px;
}

.signup-area {
    font-weight: 500;
    font-size: 14px;
}

.signup-area a {
    color: var(--primary-color);
}

.social-links-area {
    margin-top: 50px;
}

.social-links-area p {
    text-align: center;
    font-weight: 500;
}

ul {
    list-style: none;
}

.social-links {
    display: flex;
    justify-content: center;

}

.social-links button {
    background-color: var(--text-color);
    border: none;
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    padding: 5px;
}

.social-links .icon {
    color: var(--primary-white);
    font-size: 24px;
}